---
permalink: "/contact.html"
layout: page-small
---

<h1>You talking to me?</h1>
<p>Dat kan! Ik ben te bereiken via de socials of via e-mail op
    <a id="my-email" href="mailto:r.idj9eieidk.ens.idjmf8eidk.ke@ba.idj%gueidk.asm.idj-ofeidk.ail.n.idj1!1eidk.l">
        <span class="e-mail" data-user="eksner" data-website="ln.liamsaab"></span>
    </a>
</p>
<table>
    <tr>
        {% for item in site.data.socialitems %}
        <td>
            <a target="_blank" class="contact-social-link pl-0 mr-3" href="{{item.uri}}"><i class="fab fa-{{item.type}} fa-2x"></i></a>
        </td>
        {% endfor %}
    </tr>
</table>

{% include gallery.html id="pentekeningen" show_description=false %}