<nav id="my-navbar" class="navbar sticky-top navbar-expand-xl navbar-light px-0">
    <a class="navbar-brand" href="/">Baas over ...</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% for item in site.data.navitems %}
            <li class="nav-item">
                <a class="nav-link" href="{{item.uri}}">{{item.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
