<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/fontawesome/css/fontawesome.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/fontawesome/css/brands.min.css" | relative_url }}">
    <title>{{ page.title }} - {{ site.title }}</title>
</head>
<body>
<div class="content">
    <div class="container">
        {% include navbar.html %}
    </div>
    <div class="container mt-3">
        <div class="row">