{% if page.tag %}
    {% assign tags = [page.tag] %}
{% endif %}
{% if page.tags.first %}
    {% assign tags = page.tags %}
{% endif %}

{% for tag in tags %}
    {% assign num_related = site.tags[tag] | size %}
    {% if num_related > 1 %}
    <div class="row">
        <div class="col-12 mt-3">
            <span class="post-tag">Meer {{ tag }}</span>
            <div class="row mt-3">
            {% for post in site.tags[tag] %}
                {% if post.url<>page.url %}
                <div class="col-md-6 col-lg-4 col-sm-12 related-post">
                    <div class="row">
                        <div class="col-md-12 d-none d-sm-block mb-1">
                            <div class="my-list-image justify-content-center border p-1">
                                {% if post.image!='' %}
                                <a href="{{ post.url }}" class="align-self-center">
                                    <img src="{{ post.image }}" class="img-fluid" alt="{{ post.caption }}">
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <a class="font-weight-bold" href="{{ post.url }}">{{ post.title }}</a>
                            <p>
                                {% if post.image!='' %}
                                <span class="d-block d-sm-none">
                                <a href="{{ post.url }}">
                                    <img src="{{ post.image }}" class="img-fluid w-50 float-left pr-3" alt="{{ post.caption }}">
                                </a>
                                </span>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-md-12 d-sm-block d-md-none d-lg-none mb-3">
                            <hr />
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}