$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

@font-face {
  font-family: "source-serif-pro-black";
  src: url("/assets/fonts/source-serif-pro/SourceSerifPro-Black.otf");
}

@font-face {
  font-family: "Roboto Condensed Bold";
  src: url("/assets/fonts/roboto-condensed/RobotoCondensed-Bold.ttf");
}

h1, h2, h3, h4, h5, h6 {
  font-family: source-serif-pro-black;
  a {
    color:$bodyColor;
  }
  a:hover {
    color:$bodyColor;
    text-decoration:none;
    border-bottom:2px solid $bodyColor;
  }
}

@media (max-width: 1200px) {
  legend {
    font-size: calc(1.275rem + 0.3vw);
  }
  h1,
  .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  h2,
  .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  h4,
  .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  .display-1 {
    font-size: calc(1.725rem + 5.7vw);
  }
  .display-2 {
    font-size: calc(1.675rem + 5.1vw);
  }
  .display-3 {
    font-size: calc(1.575rem + 3.9vw);
  }
  .display-4 {
    font-size: calc(1.475rem + 2.7vw);
  }
  .close {
    font-size: calc(1.275rem + 0.3vw);
  }
}

#my-navbar {
  border-bottom: 1px solid black;
}

.navbar-brand {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-transform: uppercase;
  font-weight:bold;
}

.home-post {
  p {
    font-size: 14px;
  }
  h4 {
    font-size: 1.125rem;
  }
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Roboto Condensed Bold";
  color:black!important;
  text-transform: uppercase;
  font-size:14px;
}

.post-tag {
  font-family: "Roboto Condensed Bold";
  color:black!important;
  text-transform: uppercase;
  font-size:14px;
  border-bottom:2px solid black;
}

#my-footer {
  flex-shrink: 0;
  h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed Bold";
    color:white;
    text-transform: uppercase;
  }
  min-height:200px;
  .nav-link {
    color:white!important;
    font-size:14px;
  }
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
  a {
    color:$bodyColor;
  }
  a:hover {
    color:$bodyColor;
    text-decoration:none;
    border-bottom:2px solid $bodyColor;
  }
}

.content .contact-social-link, .content .contact-social-link:hover {
  border:none;
  text-decoration: none;
}

.content blockquote {
  border-left: 2px solid black;
  padding-left: 1rem;
  line-height: 2.1rem;
  font-style: italic;
}

.content img {
  max-width:100%;
}

.e-mail:before {
  content: attr(data-website) "\0040" attr(data-user);
  unicode-bidi: bidi-override;
  direction: rtl;
}

.my-gallery .modal-dialog {
  max-width: 750px;
}