{% include page-header.html %}
<div class="col-md-8 offset-md-2">
    <span class="post-tag">{{ page.tag }}</span>
    <h1>{{ page.title }}</h1>
    <p class="font-italic">{{ page.excerpt }}</p>
    {% if page.image != '' %}
    <figure class="figure">
        <img src="{{ page.image }}" class="figure-img img-fluid rounded" alt="{{ page.caption }}">
        {% if page.caption != '' %}
        <figcaption class="figure-caption text-right">{{ page.caption }}</figcaption>
        {% endif %}
    </figure>
    {% endif %}
    {{ content}}
<div class="row">
    <div class="col-6 text-left">
        {% if page.next %}
        <a class="btn btn-outline-dark btn-sm" href="{{ page.next.url }}"><i class="fas fa-chevron-left"></i> Vorige</a>
        {% endif %}
    </div>
    <div class="col-6 text-right">
        {% if page.previous %}
        <a class="btn btn-outline-dark btn-sm" href="{{ page.previous.url }}">Volgende <i class="fas fa-chevron-right"></i></a>
        {% endif %}
    </div>
</div>
</div>
{% include page-footer.html %}